<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ruta: Person</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../assets/style.css'>
</head>

<body>
    <h1>
        Person Name: <%= ID %>
    </h1>
    <h2>
        Mensaje: <%= Message %>
    </h2>

    <ul>
        <% switch (Message) {
            case 'Bienvenido': %>
                <% for (let i = 1; i <= Times; i++) { %>
                    <li>
                        <%= Message %> <%= ID %>
                    </li>
                <% } %>
                <% break;
            case 'Hola': %>
                <% for (let i = 1; i <= Times; i++) { %>
                    <li>
                        <%= Message %> <%= ID %>
                    </li>
                <% } %>
                <% break;
            case 'Adios': %>
                <% for (let i = 1; i <= Times; i++) { %>
                    <li>
                        <%= Message %> <%= ID %>
                    </li>
                <% } %>
                <% break;
            default: %>
                    <li>
                        Mensage erróneo.
                    </li>
                <% break;
        } %>
    </ul>

</body>

</html>